body{
    background-color: black;
    color: white;
}

h3{
    color: yellow;
}

header{
    background-color: red;
    color: black;
    font-family: cursive;
    font-size: 25px;
}

ul{
    color: green;
}