h1{
    color: green;
}

h2{
    color: orange;
}

h2+p{
    color: blue;
    font-weight: bold;
}

header>p{
    color: blue;
    font-weight: bold;
}

section+p{
    color: yellow;
    font-family: cursive;
    background-color: red;
}

p:nth-last-of-type(2){
    color: yellow;
    font-family: cursive;
}

footer{
    color: red;
    font-family: monospace;
    text-decoration: underline;
}